*{
    margin: 0;
    padding: 0;;
}
:root{
  
    --Corfundo: white;
    --corDetalhes:black;
}

.modeDark:root {
    --Corfundo: black;
    --corDetalhes:rgb(7, 205, 7);
}
@font-face {
    font-family: fonteLogo;
    src:url(../fonts/THE_JACATRA.otf)
  }

  @font-face {
    font-family: fonteDark;
    src:url(../fonts/HackbotFreeTrial.otf)
  }
  

  html,body{
    overflow-x: hidden;
  }
  body{
    background-color: var(--Corfundo);
  
  }
  body::-webkit-scrollbar {
    width: 10px;               
  }

  body::-webkit-scrollbar-track {
    background: var(--Corfundo)     
  }
  
  body::-webkit-scrollbar-thumb {
    background-color:var(--corDetalhes);  
    border-radius: 20px;       
 
  }



  /*---------------------- HEADER -----------------*/

  header{
    position: relative;
width: 100%;
       padding:10px;
       border-bottom: 1px solid var(--corDetalhes);
       height: 100px;
     display: flex;
     align-items: center;
     justify-content: space-around
  }
  header button
  {
    position: absolute;
    width: auto;
    height: auto;
    right: 100px;
    background-color: transparent;
    border: none;
  }

  button i {
    font-size: 2em;
    cursor: pointer;
    color: var(--corDetalhes);
    transform: 0.5s;
  }
  button i:hover{
    text-shadow: 0 0 10px var(--corDetalhes);
  }


  .logo{
text-align: center;
position: relative;

  }

  .logo h1 {
    font-family: fonteLogo;
    color: var(--corDetalhes);

  }


nav a{
    text-decoration: none;
    color: var(--corDetalhes);
    margin: 0 10px;
    font-size: 1.2em;
}
nav a:hover{
    text-shadow: 0 0 10px var(--corDetalhes);
}
/*--------------FIM DO HEADER -------------*/
/*-------------- PRIMEIRA SECTION---------------------*/
main {
    margin-top: 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.firstSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid var(--corDetalhes);
    }
    
    .firstSection i{
     padding: 10px;
        font-size: 5em ;
       color: var(--corDetalhes);
        margin-top: 20px;
        cursor: pointer;
    }

    .firstSection i:hover{
        text-shadow:  0 0 10px var(--corDetalhes) ;
    }

    .firstSection h1 {
        font-family: fonteLogo;
    color: var(--corDetalhes);
    margin-top: 20px;
    }

.balao{
  
    position: relative;
    width: 30%;
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--corDetalhes);
    border-radius: 150px;
    overflow: hidden;
}

.balao h1{

    margin: 0 10px;   
     color: var(--corDetalhes);
    font-weight: 300;
    font-size: 1.5vw;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 2;
}


#mypicture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 10px;
    z-index: 2;
    
}


.aboutme{
    margin-top: 10px;
    width: 50%;
}

.aboutme h2{
    font-weight: 100;;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--corDetalhes);
}
.aboutme a{
    text-decoration: none;
 font-weight: 300;
color:currentColor;
}
.aboutme a:hover{
    text-shadow:  0 0 10px var(--corDetalhes) ;
}


/*-------------- fim da primeira section---------------------*/

/*-------------- SEGUNDAsection---------------------*/
.secondSection{
margin-top: 50px;
    display: flex;
    align-items:center;
    flex-direction: column;
    padding: 30px;
    border-bottom: 2px solid var(--corDetalhes);

}

.secondSection h1
{
    font-family: fonteLogo;
    color: var(--corDetalhes);
    font-size: 2em;
    margin-bottom: 20px;
}

.twocontent{
    display: flex;
    justify-content: center;
    width: 100%;
}

.twocontent div{
    width: 50%;
    margin: 20px 30px;
    display: flex;
flex-direction: column;
    justify-content: center;
    align-items: center ;
    text-align: center;
    padding: 20px;
    border: 1px solid var(--corDetalhes);
    
}

.twocontent div img {
width: 70%;
box-shadow: 0 0 10px var(--corDetalhes);
}

.twocontent h1,.twocontent h4 {

font-weight: 100;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
margin-top: 10px;
color: var(--corDetalhes);

}
/*-------------- end of the second section---------------------*/
/*-------------- star of the third section---------------------*/

.thirdsection{
    margin-top: 50px;
    color: var(--corDetalhes);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.thirdsection h1 {

    font-family: fonteLogo;

}

.thirdsection h2 {
 margin-top: 20px;
 font-weight: 100;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.thirdsection i {
    margin: 20px 30px;
    color: var(--corDetalhes);
    font-size: 3em;
}


/*--------------end of the third section---------------------*/



footer{
    padding: 30px;
    text-align: center;
    color: var(--corDetalhes);
border-top:  1px solid var(--corDetalhes);
}

footer h1 {
    font-size: 1em;
    font-weight: 100;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}






.animacaoTextoDark{

max-width: 0;
overflow: hidden;
white-space: nowrap;
border-right: 2px solid var(--corDetalhes);
animation: piscar normal infinite 0.8s , escrever normal 2s steps(55) both;

}

@keyframes piscar 

{
 
    100%{
        border-right-color: transparent;
    }
}

@keyframes escrever {

    100%{
        max-width: 100%;
    }
    
}

